# dependencies
node_modules/
.pnpm-store/
**/node_modules/

# local env
.env
.env.local
.env.*.local
.env.vercel.api
.env.vercel.web

# build outputs
.next/
dist/
coverage/
**/.next/
**/dist/
**/coverage/

# tooling
.turbo/
*.tsbuildinfo
**/.turbo/
**/*.tsbuildinfo

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# local private docs
QR_Yoklama_Proje_Plani.md
stajcase.md
